<div id="contener">
  <div id="baner" [style.background-color]="kolorback" [style.color]="kolortekst">
    Wybierz samochód marzeń:
    <select [(ngModel)]="samochod">
      <option [ngValue]="null">Brak wyboru</option>
      @for (value of samochody; track value.marka) {
        <option [ngValue]="value">
          {{ value.marka }} {{value.model}}
        </option>
      }
    </select>
    <button (click)="zmienKolor()" type="button" [class.przycisk]="aktywna" [style.color]="kolortekst">
      Zmień kolor tła
    </button>
  </div>
  @if (samochod) {
    <div>
      <div id="panel_lewy">
        <label class="check">
          <input type="checkbox" [(ngModel)]="pokazZdjecie">Pokaż zdjęcie
        </label>
      </div>
      <div id="panel_srodkowy">
        <p class="akapit">{{samochod.marka}} {{samochod.model}}</p>
        <br>
        
        @if (pokazZdjecie) {
          <img class="center" src="{{samochod.zdjecie}}" [class.zdjecie]="aktywna">
        } @else {
          <p class="center">Brak zdjęcia</p>
        }
      </div>
      <div id="panel_prawy">
        @switch (samochod.type) {
          @case (Rodzaj.sportowy) {
            <img src="/images/mclaren.jpg" width="100">
          }
          @case (Rodzaj.terenowy) {
            <img src="/images/terenowy.jpg" width="100">
          }
          @case (Rodzaj.kamper) {
            <img src="/images/kamper.jpg" width="100">
          }
        }
        <p>Dane:</p>
        <ul>
          @for (item of samochod.dane; track item) {
            <li>{{item}}</li>
          }
        </ul>
      </div>
    </div>
  }
</div>